<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
     <link rel="stylesheet"   href="homePage.css">
     <script src="homePage.js" defer ></script>
</head>
<body>
  
       
  
  
  <div class="main-container">
    <video autoplay loop muted plays-inline class="video-background">
        <source    src="/img/Cherry Blossom - Animated Background(1080P_60FPS).mp4" type="video/mp4">
    </video>
    <div class="scroll-animation">
        <div class="center-box">
            <div class="first-layer">
                <div class="create-one">
                    <button id="create-one-button"><h3>Create-One</h3></button>
                </div>
                <div class="tracker">
                    <button id="tracker-button"><a href="/tracker" id="tracker-login-link"><h3>Track My Buddy</h3></a></button>
                </div>
            </div>
            <div class="second-layer">
                <div class="developer-info-container">
                    <button id="developer-info-button">
                        <h3>Developer</h3></button>
                </div>
            </div>
        </div>
        <div class="glassy">
            <div class="info-card">
             <button id="cancel-button">X</button>
                <div class="developer-profile">
                    <h3 id="company-name">Future India Solutions</h3>
                    <h6 id="moto">-towards innovation</h6>
                    <img src="/img/fis.jpg" alt="" id="fis-logo">
                   <h3 id="founder"> founder and CEO </h3>
                   <h2 id="founder-name">sakthivel Punniyakotti</h2>
                   <p id="dev-data">A Product by FIS, it is a application enable one to track your favourite ones and ensure their safety from your location by using ip address </p>
                   <h2>For Contact</h2>
                   <a href="https://www.facebook.com/profile.php?id=100035252620074&mibextid=ZbWKwL" target="_blank"><img src="img/fb.jpg" alt="Facebook">
                   </a>
                   <a href="https://twitter.com/role_x2611?t=I5RIw2o_fhWr_7dN0utixg&s=09" target="_blank"><img src="img/twitter_updated.png" alt="twitter"></a>
                   <a href="https://www.linkedin.com/in/sakthi-vel-814763210" target="_blank">  <img src="img/linked-in.jpg" alt="linked-in"></a>
                   <a href="https://www.instagram.com/invites/contact/?i=lv6ct4zk046x&utm_content=q0a3bk0 " target="_blank"><img src="img/instagram.jpg" alt="instagram"></a>
                   <a href="mailto:sakthivelpunniyakotti@gmail.com" target="_blank"><img src="img/mail-2.jpg" alt="mail"></a>
                   <!-- <button id="privacy-condition">Privacy</button> -->
                </div>
            </div>
        </div>  
    </div>
  </div>
  <div class="horizontal-scroll">
        <button id="sign-up"><a href="/signUp" >Sign Up</a></button>
        <button id="login"><a href="/buddyLogin" >Login</a></button>
        <button id="login-cancel">X</button>
  </div>
</body>

</html>

