<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
    <link rel="stylesheet" href="tracker.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
</head>
<body>
    <button id="reload-button">
        Reload

    </button>
    <div id="message-container">
        <div id="message-box">
            <!-- <button id="tracker-notice-cancel-button">Reaload</button> -->
            <h3 id="tracker-notice">Bill Board</h3>
            <textarea  id="notice-from-buddy"  rows="7" readonly ></textarea>
        </div>
    </div>
    <div class="main-container">
        <video autoplay loop muted plays-inline class="video-background-tracker">
            <source   src="img/Cherry Blossom - Animated Background(1080P_60FPS).mp4" type="video/mp4">
        </video>
        <div class="find-me-container">
            <button id="find-me">Find Me</button>
            <button id="find-my-buddy">My buddy</button>
            <button id="notice-board-message-button">Notice</button>
            <button id="buddy-status">Offline</button>
            
        </div>


       
        <div class="room-container">
            
                <label for="room-input" id="room-input-container">
                    <input type="text" id="room-input" placeholder="Enter Room Code"   >
                    <button id="room-button">Join</button>
                </label>  
            
        </div>
    </div>
    
    <div id="map" class="map-container">
       
    </div>
    <script src="socket.io/socket.io.js"></script>
    
    <script type="module" src="tracker.js"></script>
</body>
</html>